img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

::-moz-selection {
  background: #8c0000;
}

 ::selection {
  background: #8c0000;
}

.more:hover,
.button.color,
.button.black:hover,
.go-up,
.widget_portfolio .portfolio-widget-item:hover .portfolio_img:before,
.popular_posts .popular_img:hover a:before,
.widget_flickr a:hover:before,
.widget_highest_points .author-img a:hover:before,
.question-author-img:hover span,
.pagination a:hover,
.pagination span:hover,
.pagination span.current,
.about-author .author-image a:hover:before,
.avatar-img a:hover:before,
.question-comments a,
.flex-direction-nav li a:hover,
.button.dark_button.color:hover,
.table-style-2 thead th,
.progressbar-percent,
.carousel-arrow a:hover,
.box_icon:hover .icon_circle,
.box_icon:hover .icon_soft_r,
.box_icon:hover .icon_square,
.bg_default,
.box_warp_colored,
.box_warp_hover:hover,
.post .boxedtitle i,
.single-question-title i,
.question-type,
.post-type,
.social_icon a,
.page-content .boxedtitle,
.main-content .boxedtitle,
.flex-caption h2,
.flex-control-nav li a.flex-active,
.bxslider-overlay:before,
.navigation .header-menu ul li ul li:hover>a,
.navigation>.header-menu>ul>li.current_page_item>a,
.navigation>.header-menu>ul>li.current-menu-item>a,
#header-top,
.navigation>.header-menu>ul>li:hover>a,
.navigation>.header-menu>ul>li.current_page_item>a,
.navigation>.header-menu>ul>li.current-menu-item>a,
.top-after-header,
.breadcrumbs,
#footer-bottom .social_icons ul li a:hover,
.tagcloud a:hover,
input[type="checkbox"],
.login-password a:hover,
.tab a.current,
.question-type-main,
.question-report:hover,
.load-questions,
.del-poll-li:hover,
.styled-select::before,
.fileinputs span,
.post .post-type,
.divider span,
.widget_menu li.current_page_item a,
.accordion .accordion-title.active a,
.tab-inner-warp,
.navigation_mobile,
.user-profile-img a:hover:before,
.post-pagination>span,
#footer.footer_dark .tagcloud a:hover,
input[type="submit"],
.woocommerce button[type="submit"],
.post-delete a,
.post-edit a,
.woocommerce [type="submit"][name="update_cart"]:hover,
.buttons .button.wc-forward:hover,
.button.checkout.wc-forward,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content,
ul.products li .woocommerce_product_thumbnail .woocommerce_woo_cart_bt .button,
ul.products li .woocommerce_product_thumbnail .yith-wcwl-add-button .add_to_wishlist,
.cart_list .remove,
.wc-proceed-to-checkout .button.wc-forward,
.single_add_to_cart_button,
.return-to-shop a,
.button-default.empty-cart,
.wc-proceed-to-checkout a,
.button[name="calc_shipping"],
.price_slider_amount button.button[type="submit"],
.button.checkout.wc-forward,
.button.view,
#footer.footer_dark .buttons .button.wc-forward,
#footer.footer_dark .buttons .button.wc-forward:first-child:hover,
.woocommerce-MyAccount-downloads-file.button.alt {
  background-color: #8c0000;
}

p a,
li a,
a:hover,
.button.normal:hover,
span.color,
#footer a:hover,
.widget a:hover,
.question h3 a:hover,
.boxedtitle h1 a:hover,
.boxedtitle h2 a:hover,
.boxedtitle h3 a:hover,
.boxedtitle h4 a:hover,
.boxedtitle h5 a:hover,
.boxedtitle h6 a:hover,
.box_icon:hover span i,
.color_default,
.navigation_mobile>ul a:hover,
.navigation_mobile>ul li ul li:hover:before,
.post .post-meta .meta-author a:hover,
.post .post-meta .meta-categories a:hover,
.post .post-meta .meta-comment a:hover,
.question h2 a:hover,
.question-category a:hover,
.question-reply:hover i,
.question-category a:hover i,
.question-comment a:hover,
.question-comment a:hover i,
.question-reply:hover,
.post .post-meta .meta-author:hover a,
.post .post-meta .meta-author:hover i,
.post .post-meta .meta-categories:hover i,
.post .post-meta .meta-comment:hover a,
.post .post-meta .meta-comment:hover i,
.post-title a:hover,
.question-tags a,
.question .question-type,
.comment-author a:hover,
.comment-reply:hover,
.user-profile-widget li a:hover,
.taglist .tag a.delete:before,
.form-style p span.color,
.post-tags,
.post-tags a,
.related-posts li a:hover,
.related-posts li a:hover i,
#footer.footer_light_top .related-posts li a:hover,
.related-posts li a:hover i,
.share-inside,
.share-inside-warp ul li a:hover,
.user-points .question-vote-result,
.navigation>.header-menu>ul>li>a>.menu-nav-arrow,
#footer-bottom a,
.widget h3.widget_title,
#footer .related-item span,
.widget_twitter ul li:before,
#footer .widget_twitter .tweet_time a,
.widget_highest_points li h6 a,
#footer .widget_contact ul li span,
.rememberme label,
.ask_login .ask_captcha_p i,
.login-text i,
.subscribe-text i,
.widget_search .search-submit,
.login-password i,
.question-tags,
.question-tags i,
.panel-pop h2,
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select,
.panel-pop p,
.main-content .page-content .boxedtitle.page-title h2,
.fakefile button,
.login p,
.login h2,
.contact-us h2,
.share-inside i,
#related-posts h2,
.comment-reply,
.post-title,
.post-title a,
.user-profile h2,
.user-profile h2 a,
.stats-head,
.block-stats-1,
.block-stats-2,
.block-stats-3,
.block-stats-4,
.user-question h3 a,
.icon_shortcode .ul_icons li,
.testimonial-client span,
.box_icon h1,
.box_icon h2,
.box_icon h3,
.box_icon h4,
.box_icon h5,
.box_icon h6,
.widget_contact ul li i,
#footer.footer_light_top .widget a:hover,
#header .logo h2 a:hover,
.widget_tabs.tabs-warp .tabs li a,
#footer .widget .widget_highest_points a,
#footer .related-item h3 a:hover,
#footer.footer_dark .widget .widget_comments a:hover,
#footer .widget_tabs.tabs-warp .tabs li a,
.dark_skin .sidebar .widget a:hover,
.user-points h3,
.woocommerce mark,
.woocommerce .product_list_widget ins span,
.woocommerce-page .product_list_widget ins span,
ul.products li .product-details h3 a:hover,
ul.products li .product-details .price,
ul.products li .product-details h3 a:hover,
ul.products li .product-details>a:hover,
.widget.woocommerce:not(.widget_product_categories):not(.widget_layered_nav) ul li a:hover,
.price>.amount,
.woocommerce-page .product .woocommerce-woo-price ins span,
.cart_wrapper .widget_shopping_cart_content ul li a:hover,
.woocommerce-billing-fields>h3,
#order_review_heading,
.woocommerce .sections h2,
.yith-wcwl-share>h4,
.woocommerce .sections h3,
.woocommerce header.title h3,
.main-title>h4,
.woocommerce h2,
.post-content .woocommerce h3,
.box-default.woocommerce-message .button,
.woocommerce .cart .product-name a:hover,
header.title a,
.widget_search label:before,
.post .post-meta .post-view a:hover,
.post .post-meta .post-view:hover a,
.post .post-meta .post-view:hover i,
.question-author-meta a:hover,
.question-author-meta a:hover i,
ul.login-links a:hover,
input[type="tel"],
.styled-select select,
.woocommerce-MyAccount-content .woocommerce-Button.button,
.widget_categories .accordion .accordion-title a:hover,
.dark_skin .widget_categories .accordion .accordion-title a:hover {
  color: #8c0000;
}

.loader_html,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
.box_icon .form-style textarea:focus,
.social_icon a,
#footer-bottom .social_icons ul li a:hover,
.widget_login input[type="text"],
.widget_search input[type="text"],
.widget_search input[type="search"],
.widget_product_search input[type="search"],
.subscribe_widget input[type="text"],
.widget_login input[type="password"],
.panel_light.login-panel input[type="text"],
.panel_light.login-panel input[type="password"],
#footer.footer_dark .tagcloud a:hover,
#footer.footer_dark .widget_search input[type="text"],
.widget_search input[type="search"]:focus,
#footer.footer_dark .subscribe_widget input[type="text"]:focus,
#footer.footer_dark .widget_login input[type="text"]:focus,
#footer.footer_dark .widget_login input[type="password"]:focus,
.dark_skin .sidebar .widget_search input[type="text"],
.widget_search input[type="search"]:focus,
.dark_skin .sidebar .subscribe_widget input[type="text"]:focus,
.dark_skin .sidebar .widget_login input[type="text"]:focus,
.dark_skin .sidebar .widget_login input[type="password"]:focus,
input[type="tel"]:focus,
.sidebar .tagcloud a:hover,
.tagcloud a:hover {
  border-color: #8c0000;
}

.tabs {
  border-bottom-color: #8c0000;
}

.tab a.current {
  border-top-color: #8c0000;
}

.tabs-vertical .tab a.current,
blockquote {
  border-right-color: #8c0000;
}

blockquote {
  border-left-color: #8c0000;
}

.top-after-header .col-md-9 p textarea,
.widget_login input[type="text"],
.widget_search input[type="text"],
.widget_search input[type="search"],
.widget_product_search input[type="search"],
.subscribe_widget input[type="text"],
.widget_login input[type="password"],
.panel_light.login-panel input[type="text"],
.panel_light.login-panel input[type="password"],
blockquote,
.qoute {
  background: rgba(140, 0, 0, 0.20);
}

body {
  background: #0a0a0a url() repeat top center scroll;
}

 ::-moz-selection {
  background: #8c0000;
}

 ::selection {
  background: #8c0000;
}

.more:hover,
.button.color,
.button.black:hover,
.go-up,
.widget_portfolio .portfolio-widget-item:hover .portfolio_img:before,
.popular_posts .popular_img:hover a:before,
.widget_flickr a:hover:before,
.widget_highest_points .author-img a:hover:before,
.question-author-img:hover span,
.pagination a:hover,
.pagination span:hover,
.pagination span.current,
.about-author .author-image a:hover:before,
.avatar-img a:hover:before,
.question-comments a,
.flex-direction-nav li a:hover,
.button.dark_button.color:hover,
.table-style-2 thead th,
.progressbar-percent,
.carousel-arrow a:hover,
.box_icon:hover .icon_circle,
.box_icon:hover .icon_soft_r,
.box_icon:hover .icon_square,
.bg_default,
.box_warp_colored,
.box_warp_hover:hover,
.post .boxedtitle i,
.single-question-title i,
.question-type,
.post-type,
.social_icon a,
.page-content .boxedtitle,
.main-content .boxedtitle,
.flex-caption h2,
.flex-control-nav li a.flex-active,
.bxslider-overlay:before,
.navigation .header-menu ul li ul li:hover>a,
.navigation>.header-menu>ul>li.current_page_item>a,
.navigation>.header-menu>ul>li.current-menu-item>a,
#header-top,
.navigation>.header-menu>ul>li:hover>a,
.navigation>.header-menu>ul>li.current_page_item>a,
.navigation>.header-menu>ul>li.current-menu-item>a,
.top-after-header,
.breadcrumbs,
#footer-bottom .social_icons ul li a:hover,
.tagcloud a:hover,
input[type="checkbox"],
.login-password a:hover,
.tab a.current,
.question-type-main,
.question-report:hover,
.load-questions,
.del-poll-li:hover,
.styled-select::before,
.fileinputs span,
.post .post-type,
.divider span,
.widget_menu li.current_page_item a,
.accordion .accordion-title.active a,
.tab-inner-warp,
.navigation_mobile,
.user-profile-img a:hover:before,
.post-pagination>span,
#footer.footer_dark .tagcloud a:hover,
input[type="submit"],
.woocommerce button[type="submit"],
.post-delete a,
.post-edit a,
.woocommerce [type="submit"][name="update_cart"]:hover,
.buttons .button.wc-forward:hover,
.button.checkout.wc-forward,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content,
ul.products li .woocommerce_product_thumbnail .woocommerce_woo_cart_bt .button,
ul.products li .woocommerce_product_thumbnail .yith-wcwl-add-button .add_to_wishlist,
.cart_list .remove,
.wc-proceed-to-checkout .button.wc-forward,
.single_add_to_cart_button,
.return-to-shop a,
.button-default.empty-cart,
.wc-proceed-to-checkout a,
.button[name="calc_shipping"],
.price_slider_amount button.button[type="submit"],
.button.checkout.wc-forward,
.button.view,
#footer.footer_dark .buttons .button.wc-forward,
#footer.footer_dark .buttons .button.wc-forward:first-child:hover,
.woocommerce-MyAccount-downloads-file.button.alt {
  background-color: #8c0000;
}

p a,
li a,
a:hover,
.button.normal:hover,
span.color,
#footer a:hover,
.widget a:hover,
.question h3 a:hover,
.boxedtitle h1 a:hover,
.boxedtitle h2 a:hover,
.boxedtitle h3 a:hover,
.boxedtitle h4 a:hover,
.boxedtitle h5 a:hover,
.boxedtitle h6 a:hover,
.box_icon:hover span i,
.color_default,
.navigation_mobile>ul a:hover,
.navigation_mobile>ul li ul li:hover:before,
.post .post-meta .meta-author a:hover,
.post .post-meta .meta-categories a:hover,
.post .post-meta .meta-comment a:hover,
.question h2 a:hover,
.question-category a:hover,
.question-reply:hover i,
.question-category a:hover i,
.question-comment a:hover,
.question-comment a:hover i,
.question-reply:hover,
.post .post-meta .meta-author:hover a,
.post .post-meta .meta-author:hover i,
.post .post-meta .meta-categories:hover i,
.post .post-meta .meta-comment:hover a,
.post .post-meta .meta-comment:hover i,
.post-title a:hover,
.question-tags a,
.question .question-type,
.comment-author a:hover,
.comment-reply:hover,
.user-profile-widget li a:hover,
.taglist .tag a.delete:before,
.form-style p span.color,
.post-tags,
.post-tags a,
.related-posts li a:hover,
.related-posts li a:hover i,
#footer.footer_light_top .related-posts li a:hover,
.related-posts li a:hover i,
.share-inside,
.share-inside-warp ul li a:hover,
.user-points .question-vote-result,
.navigation>.header-menu>ul>li>a>.menu-nav-arrow,
#footer-bottom a,
.widget h3.widget_title,
#footer .related-item span,
.widget_twitter ul li:before,
#footer .widget_twitter .tweet_time a,
.widget_highest_points li h6 a,
#footer .widget_contact ul li span,
.rememberme label,
.ask_login .ask_captcha_p i,
.login-text i,
.subscribe-text i,
.widget_search .search-submit,
.login-password i,
.question-tags,
.question-tags i,
.panel-pop h2,
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select,
.panel-pop p,
.main-content .page-content .boxedtitle.page-title h2,
.fakefile button,
.login p,
.login h2,
.contact-us h2,
.share-inside i,
#related-posts h2,
.comment-reply,
.post-title,
.post-title a,
.user-profile h2,
.user-profile h2 a,
.stats-head,
.block-stats-1,
.block-stats-2,
.block-stats-3,
.block-stats-4,
.user-question h3 a,
.icon_shortcode .ul_icons li,
.testimonial-client span,
.box_icon h1,
.box_icon h2,
.box_icon h3,
.box_icon h4,
.box_icon h5,
.box_icon h6,
.widget_contact ul li i,
#footer.footer_light_top .widget a:hover,
#header .logo h2 a:hover,
.widget_tabs.tabs-warp .tabs li a,
#footer .widget .widget_highest_points a,
#footer .related-item h3 a:hover,
#footer.footer_dark .widget .widget_comments a:hover,
#footer .widget_tabs.tabs-warp .tabs li a,
.dark_skin .sidebar .widget a:hover,
.user-points h3,
.woocommerce mark,
.woocommerce .product_list_widget ins span,
.woocommerce-page .product_list_widget ins span,
ul.products li .product-details h3 a:hover,
ul.products li .product-details .price,
ul.products li .product-details h3 a:hover,
ul.products li .product-details>a:hover,
.widget.woocommerce:not(.widget_product_categories):not(.widget_layered_nav) ul li a:hover,
.price>.amount,
.woocommerce-page .product .woocommerce-woo-price ins span,
.cart_wrapper .widget_shopping_cart_content ul li a:hover,
.woocommerce-billing-fields>h3,
#order_review_heading,
.woocommerce .sections h2,
.yith-wcwl-share>h4,
.woocommerce .sections h3,
.woocommerce header.title h3,
.main-title>h4,
.woocommerce h2,
.post-content .woocommerce h3,
.box-default.woocommerce-message .button,
.woocommerce .cart .product-name a:hover,
header.title a,
.widget_search label:before,
.post .post-meta .post-view a:hover,
.post .post-meta .post-view:hover a,
.post .post-meta .post-view:hover i,
.question-author-meta a:hover,
.question-author-meta a:hover i,
ul.login-links a:hover,
input[type="tel"],
.styled-select select,
.woocommerce-MyAccount-content .woocommerce-Button.button,
.widget_categories .accordion .accordion-title a:hover,
.dark_skin .widget_categories .accordion .accordion-title a:hover {
  color: #8c0000;
}

.loader_html,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
.box_icon .form-style textarea:focus,
.social_icon a,
#footer-bottom .social_icons ul li a:hover,
.widget_login input[type="text"],
.widget_search input[type="text"],
.widget_search input[type="search"],
.widget_product_search input[type="search"],
.subscribe_widget input[type="text"],
.widget_login input[type="password"],
.panel_light.login-panel input[type="text"],
.panel_light.login-panel input[type="password"],
#footer.footer_dark .tagcloud a:hover,
#footer.footer_dark .widget_search input[type="text"],
.widget_search input[type="search"]:focus,
#footer.footer_dark .subscribe_widget input[type="text"]:focus,
#footer.footer_dark .widget_login input[type="text"]:focus,
#footer.footer_dark .widget_login input[type="password"]:focus,
.dark_skin .sidebar .widget_search input[type="text"],
.widget_search input[type="search"]:focus,
.dark_skin .sidebar .subscribe_widget input[type="text"]:focus,
.dark_skin .sidebar .widget_login input[type="text"]:focus,
.dark_skin .sidebar .widget_login input[type="password"]:focus,
input[type="tel"]:focus,
.sidebar .tagcloud a:hover,
.tagcloud a:hover {
  border-color: #8c0000;
}

.tabs {
  border-bottom-color: #8c0000;
}

.tab a.current {
  border-top-color: #8c0000;
}

.tabs-vertical .tab a.current,
blockquote {
  border-right-color: #8c0000;
}

blockquote {
  border-left-color: #8c0000;
}

.top-after-header .col-md-9 p textarea,
.widget_login input[type="text"],
.widget_search input[type="text"],
.widget_search input[type="search"],
.widget_product_search input[type="search"],
.subscribe_widget input[type="text"],
.widget_login input[type="password"],
.panel_light.login-panel input[type="text"],
.panel_light.login-panel input[type="password"],
blockquote,
.qoute {
  background: rgba(140, 0, 0, 0.20);
}

.logo img {
  max-width: 300px;
}

    .wp_social_bookmarking_light{
    border: 0 !important;
    padding: 10px 0 20px 0 !important;
    margin: 0 !important;
}
.wp_social_bookmarking_light div{
    float: left !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 5px 0px 0 !important;
    min-height: 30px !important;
    line-height: 18px !important;
    text-indent: 0 !important;
}
.wp_social_bookmarking_light img{
    border: 0 !important;
    padding: 0;
    margin: 0;
    vertical-align: top !important;
}
.wp_social_bookmarking_light_clear{
    clear: both !important;
}
#fb-root{
    display: none;
}
.wsbl_twitter{
    width: 100px;
}
.wsbl_facebook_like iframe{
    max-width: none !important;
}
.wsbl_pinterest a{
    border: 0px !important;
}

.add_ntn {
  display: block;
}

.add_ntn span {
  display: block;
  margin: 30px 0 30px !important;
}