/*
Theme Name: Ask me
Theme URI: www.2code.info
Author: 2code
Author URI: www.2code.info   
design by: 2code
url: www.2code.info
*/
/****************************************************************
*		@media Qurey
****************************************************************/
/*------------------------------------------------------------------------------*/
/*                    Width : 1300
/*------------------------------------------------------------------------------*/
@media (min-width: 1300px) {
	.grid_1300 .container {
		width: 1330px;
	}
	.grid_1300.boxed,.grid_1300.boxed2,.grid_1300.boxed #header.fixed-nav,.grid_1300.boxed2 #header.fixed-nav {
		width: 1360px !important;
	}
	.grid_1300 .top-after-header .col-md-3 {
		padding-top: 60px;
		text-align: left;
		width: 25%;
	}
	.grid_1300 .top-after-header .col-md-9 {
		float: left;
	}
	.grid_1300 .top-after-header .col-md-9 form {
		width: 920px;
	}
	.grid_1300 .top-after-header .col-md-12 {
		padding-top: 51px;
	}
	.grid_1300 .top-after-header .col-md-12 p input,.top-after-header .search-p input {
		margin-top: 81px;
	}
	.grid_1300 .navigation > .header-menu > ul > li > a {
		padding: 0 15px;
	}
	.grid_1300 .sidebar {
		float: right;
	}
	.grid_1300 .widget_menu_jquery {
		position: fixed !important;
		top: 90px;
		width: 292.5px;
	}
	.grid_1300 .widget_flickr a,.grid_1300 .widget_portfolio .portfolio-widget-item .portfolio_img,.grid_1300 .popular_img {
		width: 84.5px;
		height: 84.5px;
	}
	.grid_1300 .widget_portfolio .portfolio-widget-item .portfolio_img:before,.grid_1300 .popular_posts .popular_img a:before,.grid_1300 .widget_flickr a:before,.grid_1300 .popular_posts .popular_img a:before {
		line-height: 84.5px;
	}
	.grid_1300 .col-md-3.sidebar .widget_flickr a,.grid_1300 .col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img,.grid_1300 .col-md-3.sidebar .popular_img {
		width: 79.1px;
		height: 79.1px;
	}
	.grid_1300 .col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img:before,.grid_1300 .col-md-3.sidebar .popular_posts .popular_img a:before,.grid_1300 .col-md-3.sidebar .widget_flickr a:before,.grid_1300 .col-md-3.sidebar .popular_posts .popular_img a:before {
		line-height: 79.1px;
	}
	.grid_1300 #footer .widget_flickr a,.grid_1300 #footer .widget_portfolio .portfolio-widget-item .portfolio_img,.grid_1300 #footer .popular_img {
		width: 74.5px;
		height: 74.5px;
	}
	.grid_1300 #footer .widget_portfolio .portfolio-widget-item .portfolio_img:before,.grid_1300 #footer .popular_posts .popular_img a:before,.grid_1300 #footer .widget_flickr a:before,.grid_1300 #footer .popular_posts .popular_img a:before {
		line-height: 74.5px;
	}
	/* user-profile */
	.grid_1300 .stats-head,.grid_1300 .block-stats-visibility,.grid_1300 .block-stats-1,.grid_1300 .block-stats-2,.grid_1300 .block-stats-3,.grid_1300 .block-stats-4 {
		width: 23.3%;
	}
	.grid_1300 .block-stats-1 {
		width: 30%;
	}
	.grid_1300 .the-title,.grid_1300 .post_tag,.grid_1300 .category-wrap,.grid_1300 input.the-username,.grid_1300 input.the-email,.grid_1300 .question_tags,.grid_1300 .video_id,.grid_1300 textarea.the-textarea,.the-textarea,.grid_1300 .taglist .input input,.grid_1300 .form-style-5.form-style input[type="text"],.grid_1300 .form-style-5.form-style input[type="email"],.grid_1300 .form-style-5.form-style input[type="password"],.grid_1300 .form-style-5.form-style textarea {
		width: 82%;
	}
	.grid_1300 .form-posts .form-style label,.grid_1300 .form-style-5.form-style label {
		width: 17%;
	}
	.grid_1300 .form-description,.grid_1300 .question_poll_item {
		margin-left: 18%;
	}
	.grid_1300 .form-style-2 .fileinputs {
		width: 85%;
	}
	.grid_1300 ul.login-links {
		float: right;
	}
}
/*------------------------------------------------------------------------------*/
/*                    Width : 992
/*------------------------------------------------------------------------------*/
@media (min-width: 992px) {
	.boxed #header.fixed-nav,.boxed2 #header.fixed-nav {
		width: 970px;
	}
}
@media (max-width: 992px) {
	.search-form-breadcrumbs {
		display: none;
	}
}
/*------------------------------------------------------------------------------*/
/*                    Width : 1200
/*------------------------------------------------------------------------------*/
@media (min-width: 991px) and (max-width: 1200px) {
	.user_quick_links li {
		width: 100%;
		margin-right: 0;
	}
}
/*------------------------------------------------------------------------------*/
/*                    Width : 768
/*------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 984px) {
	.boxed,.boxed2,.boxed #header.fixed-nav,.boxed2 #header.fixed-nav {
		width: 100%;
	}
	.boxed2 {
		margin-top: 0;
		margin-bottom: 0;
	}
}
/*------------------------------------------------------------------------------*/
/*                    Width : 1200
/*------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
	.grid_1200.boxed,.grid_1200.boxed2,.grid_1200.boxed #header.fixed-nav,.grid_1200.boxed2 #header.fixed-nav {
		width: 1200px !important;
	}
	.grid_1200 .top-after-header .col-md-3 {
		padding-top: 60px;
		text-align: left;
		width: 25%;
	}
	.grid_1200 .top-after-header .col-md-9 {
		float: left;
	}
	.grid_1200 .top-after-header .col-md-9 form {
		width: 800px;
	}
	.grid_1200 .top-after-header .col-md-12 {
		padding-top: 51px;
	}
	.grid_1200 .top-after-header .col-md-12 p input,.top-after-header .search-p input {
		margin-top: 81px;
	}
	.grid_1200 .navigation > .header-menu > ul > li > a {
		padding: 0 15px;
	}
	.grid_1200 .sidebar {
		float: right;
	}
	.grid_1200 .widget_menu_jquery {
		position: fixed !important;
		top: 90px;
		width: 263px;
	}
	.grid_1200 .widget_flickr a,.grid_1200 .widget_portfolio .portfolio-widget-item .portfolio_img,.grid_1200 .popular_img {
		width: 75px;
		height: 75px;
	}
	.grid_1200 .widget_portfolio .portfolio-widget-item .portfolio_img:before,.grid_1200 .popular_posts .popular_img a:before,.grid_1200 .widget_flickr a:before,.grid_1200 .popular_posts .popular_img a:before {
		line-height: 75px;
	}
	.grid_1200 .col-md-3.sidebar .widget_flickr a,.grid_1200 .col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img,.grid_1200 .col-md-3.sidebar .popular_img {
		width: 70.1px;
		height: 70.1px;
	}
	.grid_1200 .col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img:before,.grid_1200 .col-md-3.sidebar .popular_posts .popular_img a:before,.grid_1200 .col-md-3.sidebar .widget_flickr a:before,.grid_1200 .col-md-3.sidebar .popular_posts .popular_img a:before {
		line-height: 70.1px;
	}
	.grid_1200 #footer .widget_flickr a,.grid_1200 #footer .widget_portfolio .portfolio-widget-item .portfolio_img,.grid_1200 #footer .popular_img {
		width: 61.8px;
		height: 61.8px;
	}
	.grid_1200 #footer .widget_portfolio .portfolio-widget-item .portfolio_img:before,.grid_1200 #footer .popular_posts .popular_img a:before,.grid_1200 #footer .widget_flickr a:before,.grid_1200 #footer .popular_posts .popular_img a:before {
		line-height: 61.8px;
	}
	/* user-profile */
	.grid_1200 .stats-head,.grid_1200 .block-stats-visibility,.grid_1200 .block-stats-1,.grid_1200 .block-stats-2,.grid_1200 .block-stats-3,.grid_1200 .block-stats-4 {
		width: 23.3%;
	}
	.grid_1200 .block-stats-1 {
		width: 30%;
	}
	.grid_1200 .the-title,.grid_1200 .post_tag,.grid_1200 .category-wrap,.grid_1200 input.the-username,.grid_1200 input.the-email,.grid_1200 .question_tags,.grid_1200 .video_id,.grid_1200 textarea.the-textarea,.the-textarea,.grid_1200 .taglist .input input,.grid_1200 .form-style-5.form-style input[type="text"],.grid_1200 .form-style-5.form-style input[type="email"],.grid_1200 .form-style-5.form-style input[type="password"],.grid_1200 .form-style-5.form-style textarea,.new-question-form .the-text {
		width: 82%;
	}
	.grid_1200 .form-posts .form-style label,.grid_1200 .form-style-5.form-style label {
		width: 17%;
	}
	.grid_1200 .form-description,.grid_1200 .question_poll_item {
		margin-left: 18%;
	}
	.grid_1200 .form-style-2 .fileinputs {
		width: 85%;
	}
	.grid_1200 ul.login-links {
		float: right;
	}
	/* advertising */
	.advertising-4a .advertising-1 {
		margin-right: 8px;
	}
	.advertising-4a .advertising-1:nth-child(2n+2) {
		margin-right: 0;
	}
	.advertising-4a-2 .advertising-1 {
		margin-right: 18px;
	}
	.advertising-4a-2 .advertising-1:nth-child(2n+2) {
		margin-right: 0;
	}
}
/*------------------------------------------------------------------------------*/
/*                    Width : 960
/*------------------------------------------------------------------------------*/
@media only screen and (min-width: 767px) and (max-width: 960px) {
	body {
		width: 100%;
	}
	.inner {
		width: 768px;
	}
	.boxed,.boxed2,.boxed #header.fixed-nav,.boxed2 #header.fixed-nav {
		width: 100%;
	}
	.boxed2 {
		margin-top: 0;
		margin-bottom: 0;
	}
	/* Navigation */
	.navigation,#header-top {
		display:none;
	}
	.navigation_mobile,.mobile-menu,.mobile-aside {
		display: block;
	}
	/* breadcrumbs */
	.breadcrumbs h1 {
		float: none;
		display: block;
	}
	.crumbs {
		float: left;
	}
	.breadcrumbs h1 {
		margin-right: 10px;
		float: none;
		display: block;
	}
	.box_icon.box_warp.box_no_border.box_no_background .col-md-4 .height_40 {
		height: 0;
	}
	/* user-profile */
	.stats-head,.block-stats-visibility,.block-stats-1,.block-stats-2,.block-stats-3,.block-stats-4 {
		padding: 10px;
		font-size: 14px;
	}
	.block-stats-1 {
		width: 29.2%;
	}
	/* sidebar */
	.sidebar {
		margin-top: 30px;
		width: 100%;
		clear: both;
	}
	/* Widgets */
	#footer .widget {
		margin-bottom: 30px;
	}
	.widget_flickr a,.widget_portfolio .portfolio-widget-item .portfolio_img,.popular_img {
		width: 63.3px !important;
		height: 63.3px !important;
	}
	.widget_portfolio .portfolio-widget-item .portfolio_img:before,.popular_posts .popular_img a:before,.widget_flickr a:before {
		line-height: 63.3px !important;
	}
	.col-md-3.sidebar .widget_flickr a,.col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img,.col-md-3.sidebar .popular_img {
		width: 63.3px !important;
		height: 63.3px !important;
	}
	.col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img:before,.col-md-3.sidebar .popular_posts .popular_img a:before,.col-md-3.sidebar .widget_flickr a:before {
		line-height: 63.3px !important;
	}
	#footer .widget_flickr a,#footer .widget_portfolio .portfolio-widget-item .portfolio_img,.popular_img {
		width: 67.5px !important;
		height: 67.5px !important;
	}
	#footer .widget_portfolio .portfolio-widget-item .portfolio_img:before,#footer .popular_posts .popular_img a:before,#footer .widget_flickr a:before {
		line-height: 67.5px !important;
	}
	.children {
		padding-left: 40px;
	}
	.commentlist li ul ul ul.children {
		padding-left: 0;
	}
}
/*------------------------------------------------------------------------------*/
/*                    width : 991px 
/*------------------------------------------------------------------------------*/
@media (min-width: 991px) and (max-width: 1300px) {
	.widget_menu_jquery {
		top: inherit !important;
	}
}
/*------------------------------------------------------------------------------*/
/*                    width : 768 
/*------------------------------------------------------------------------------*/
@media (min-width: 768px) {
	.boxed #header.fixed-nav,.boxed2 #header.fixed-nav {
		width: 970px;
	}
}
/*------------------------------------------------------------------------------*/
/*                    width : 991px 
/*------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
	.grid_970 .container {
		width: 750px;
	}
	.page-left-sidebar .sidebar,.page-left-sidebar .row > .with-sidebar-container > .col-md-9,.page-left-sidebar .row > .with-sidebar-container > .col-md-8,.page-right-sidebar .row > .with-sidebar-container > .col-md-9,.page-right-sidebar .row > .with-sidebar-container > .col-md-8 {
		float: none;
	}
	.sidebar {
		position: static !important;
		clear: both;
	}
	.grid-images img {
		width: 100%;
		height: auto;
	}
	.top-after-header .col-md-3 {
		padding-top: 0;
		text-align: center;
	}
	.top-after-header .col-md-12 {
		padding-top: 31px;
	}
	.top-after-header .col-md-12 p input,.top-after-header .search-p input {
		margin-top: 51px;
	}
	.widget_menu_jquery {
		display: none;
	}
	/* Navigation */
	.navigation,#header-top {
		display: none;
	}
	.navigation_mobile,.mobile-menu,.mobile-aside {
		display: block;
	}
	#header.fixed-nav .navigation_mobile {
		margin-top: 17.5px;
	}
	.form-posts {
		margin-bottom: 30px;
	}
	.contact-us .page-content,.login .page-content {
		margin-bottom: 30px;
	}
	.breadcrumbs h1 {
		float: none;
		display: block;
	}
	.crumbs {
		float: left;
	}
	#footer .widget,.user-stats {
		margin-bottom: 30px;
	}
	.overlay-lightbox,.overlay-link {
		top: 10px;
	}
	.form-style-2 .fileinputs {
		width: 85%;
	}
	.sidebar {
		margin-top: 30px;
		width: 100%;
		clear: both;
	}
	.children {
		padding-left: 40px;
	}
	.commentlist li ul ul ul.children {
		padding-left: 0;
	}
}
/*------------------------------------------------------------------------------*/
/*                    width : 767px 
/*------------------------------------------------------------------------------*/
@media (max-width: 767px) {
	.grid_970 .container {
		width: auto;
	}
	.page-left-sidebar .sidebar,.page-left-sidebar .row > .with-sidebar-container > .col-md-9,.page-left-sidebar .row > .with-sidebar-container > .col-md-8,.page-right-sidebar .row > .with-sidebar-container > .col-md-9,.page-right-sidebar .row > .with-sidebar-container > .col-md-8 {
		float: none;
	}
	.sidebar {
		position: static !important;
		clear: both;
	}
	.top-after-header .col-md-12 {
		padding-top: 31px;
	}
	.top-after-header .col-md-12 p input,.top-after-header .search-p input {
		margin-top: 51px;
	}
	.div_category > ul {
		clear: both;
		margin: 20px 0 0;
	}
	/* Widgets */
	.widget_menu_jquery {
		display: none;
	}
	.widget_flickr a,.widget_portfolio .portfolio-widget-item .portfolio_img,.popular_img {
		width: 68.4px !important;
		height: 68.4px !important;
	}
	.widget_portfolio .portfolio-widget-item .portfolio_img:before,.popular_posts .popular_img a:before,.widget_flickr a:before {
		line-height: 68.4px !important;
	}
	.col-md-3.sidebar .widget_flickr a,.col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img,.col-md-3.sidebar .popular_img {
		width: 68.4px !important;
		height: 68.4px !important;
	}
	.col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img:before,.col-md-3.sidebar .popular_posts .popular_img a:before,.col-md-3.sidebar .widget_flickr a:before {
		line-height: 68.4px !important;
	}
	#footer .widget_flickr a,#footer .widget_portfolio .portfolio-widget-item .portfolio_img,.popular_img {
		width: 73px !important;
		height: 73px !important;
	}
	#footer .widget_portfolio .portfolio-widget-item .portfolio_img:before,#footer .popular_posts .popular_img a:before,#footer .widget_flickr a:before {
		line-height: 73px !important;
	}
	.login-panel .page-content.registere {
		margin-top: 30px;
	}
	.form-style label {
		width: 100% !important;
	}
	.form-style-5.form-style label {
		margin-top: 0;
	}
	.contact-us .page-content,.login .page-content {
		margin-bottom: 30px;
	}
	.user-profile-widget .ul_list li {
		width: 100%;
		margin-right: 0 !important;
		margin-bottom: 10px !important;
	}
}
/*------------------------------------------------------------------------------*/
/*                    Width : 480
/*------------------------------------------------------------------------------*/
@media only screen and (min-width: 452px) and (max-width: 767px) {
	body {
		width: 100%;
	}
	.grid_970 .container {
		width: auto;
	}
	.page-left-sidebar .sidebar,.page-left-sidebar .row > .with-sidebar-container > .col-md-9,.page-left-sidebar .row > .with-sidebar-container > .col-md-8,.page-right-sidebar .row > .with-sidebar-container > .col-md-9,.page-right-sidebar .row > .with-sidebar-container > .col-md-8 {
		float: none;
	}
	.sidebar {
		position: static !important;
		clear: both;
	}
	.inner {
		width: 420px;
	}
	.boxed,.boxed2,.boxed #header.fixed-nav,.boxed2 #header.fixed-nav {
		width: 100%;
	}
	.boxed2 {
		margin-top: 0;
		margin-bottom: 0;
	}
	.top-after-header {
		height: auto;
	}
	.top-after-header .col-md-9 form {
		background: transparent;
		height: auto;
		margin-top: 0;
	}
	.top-after-header .col-md-9 p {
		width: 220px;
		width: 100%;
		margin: 20px 0 0;
	}
	.top-after-header .col-md-9 p textarea {
		background-color: #FFF !important;
		border: none;
		color: #2f3239;
		font-size: 13px;
		font-weight: 600;
		font-style: italic;
		resize: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	.top-after-header .col-md-9 .publish-question {
		right: 10px;
	}
	.top-after-header .col-md-3 {
		padding-top: 0;
		text-align: center;
	}
	.top-after-header .col-md-12 {
		padding-top: 31px;
	}
	.top-after-header .col-md-12 p input,.top-after-header .search-p input {
		margin-top: 51px;
	}
	.top-after-header .flexslider.blog_silder {
		position: static;
		margin-top: -30px;
	}
	.top-after-header .flex-direction-nav li a {
		top: 20%;
		height: 48px;
		padding: 8px 15px;
		font-size: 30px;
		margin-top: 0;
	}
	.widget_menu_jquery {
		display: none;
	}
	/* Columns */
	.one_half,.one_third,.two_third,.three_fourth,.two_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.two_sixth,.three_sixth,.four_sixth,.five_sixth {
		float: none !important;
		width: auto !important;
		margin-right: 0 !important;
	}
	.panel-pop {
		width: 90%;
	}
	/* Header */
	.admin-bar #header.fixed-nav {
		top: 46px !important;
	}
	#footer-bottom .social_icons ul li {
		margin-left:10px !important;
	}
	#footer-bottom {
		height:auto;
	}
	#footer-bottom .social_icons {
		float:inherit !important;
		display:inline-block;
	}
	#footer-bottom .social_icons li:first-child {
		margin-left:0 !important;
	}
	#footer-bottom > .container > div {
		float:inherit !important;
		display:inline-block;
		margin-left:0 !important;
		margin-right:0 !important;
		width: 100%;
		text-align: center;
	}
	#footer-bottom > .container > div:first-child {
		margin-bottom: 10px;
	}
	#footer-bottom > .container > .social_icons {
		margin-bottom: 0;
	}
	#footer-bottom > .container ul {
		display: inline-block;
		float: none;
	}
	#footer-bottom > .container > .social_icons li {
		display: inline-block;
	}
	#footer-bottom_nav > ul > li:last-child,#footer-bottom_nav.f_right > ul > li:last-child {
		margin-right:0;
		margin-left:0;
	}
	/* Navigation */
	.navigation,#header-top {
		display: none;
	}
	.navigation_mobile,.mobile-menu,.mobile-aside {
		display: block;
	}
	/* Breadcrumbs */
	.breadcrumbs h1 {
		margin: 0;
	}
	.box_icon.box_warp.box_no_border.box_no_background .col-md-4 .height_40 {
		height: 0;
	}
	/* Sidebar */
	.sidebar {
		margin-top:30px !important;
		width: 100%;
		clear: both;
	}
	/* Footer */
	#footer-bottom > .container > div {
		margin-left:0;
		margin-right:0;
	}
	#footer-bottom_nav.f_right > ul > li:first-child {
		margin-left:0;
	}
	/* Widgets */
	.widget_flickr a,.widget_portfolio .portfolio-widget-item .portfolio_img,.popular_img {
		width: 65.1px !important;
		height: 65.1px !important;
	}
	.widget_portfolio .portfolio-widget-item .portfolio_img:before,.popular_posts .popular_img a:before,.widget_flickr a:before {
		line-height: 65.1px !important;
	}
	.col-md-3.sidebar .widget_flickr a,.col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img,.col-md-3.sidebar .popular_img {
		width: 65.1px !important;
		height: 65.1px !important;
	}
	.col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img:before,.col-md-3.sidebar .popular_posts .popular_img a:before,.col-md-3.sidebar .widget_flickr a:before {
		line-height: 65.1px !important;
	}
	#footer .widget_flickr a,#footer .widget_portfolio .portfolio-widget-item .portfolio_img,.popular_img {
		width: 69.7px !important;
		height: 69.7px !important;
	}
	#footer .widget_portfolio .portfolio-widget-item .portfolio_img:before,#footer .popular_posts .popular_img a:before,#footer .widget_flickr a:before {
		line-height: 69.7px !important;
	}
	.widget:last-child {
		margin-bottom:30px;
	}
	.sidebar .widget:last-child {
		margin-bottom:0;
	}
	/* Single post */
	.post-next-prev p {
		font-size:14px;
	}
	/* Respond */
	#respond-inputs p,.full_width #respond-inputs p {
		width:100%;
		margin-right:0;
	}
	#respond-inputs p.last {
		margin-bottom:20px;
	}
	/* Blog 2 */
	.blog_2.post .post-img {
		margin-right:0;
		width:100% !important;
		margin-bottom:20px !important;
		float: none;
	}
	/* Shortcodes */
	/* Tabs */
	.tabs-vertical.tabs-long .tabs {
		width:200px !important;
	}
	.tabs-vertical.tabs-long .tab-inner-warp {
		margin-left:204px !important;
	}
	.tabs-style-2.tabs-vertical.tabs-long .tab-inner-warp,.tabs-style-3.tabs-vertical.tabs-long .tab-inner-warp {
		margin-left:200px !important;
	}
	/* Callout */
	.button_right {
		margin-top: 10px;
		top: inherit !important;
		right: inherit !important;
		position: relative;
	}
	.callout_inner {
		margin-right: 0 !important;
	}
	/* Carousel */
	.images-warp ul li {
		width: 420px;
	}
	.images-warp-grid li.columns,.images-warp-grid li.column {
		margin-bottom: 20px;
	}
	/* Forms */
	.form-inputs p {
		float: none;
		width: 100%;
	}
	.form-inputs p {
		width: 60% !important;
	}
	.form-style input.submit {
		width: auto;
	}
	.form-style-4 .form-inputs p {
		width: 100% !important;
	}
	input.the-title,input.post_tag,input.question_tags,input.the-username,input.the-email,.video_id,textarea.the-textarea,.the-textarea,.taglist .input input,.form-posts .form-description,.question_poll_item,.taglist,.form-style-5.form-style input[type="text"],.form-style-5.form-style input[type="email"],.form-style-5.form-style input[type="password"],.form-style-5.form-style textarea,.styled-select,.fileinputs,.category-wrap {
		width: 100%;
	}
	.form-posts .form-style label {
		margin-top: 0;
	}
	.fileinputs {
		margin-top: 5px;
	}
	.form-description,.question_poll_item {
		margin-left: 0;
	}
	.form-style-3 .form-inputs .question-multiple-upload p.add_poll {
		top: -5px;
		left: 20%;
	}
	.question-multiple-upload li:first-child .fileinputs {
		margin-top: 15px;
	}
	.login-panel ul.login-links,.login ul.login-links {
		width: 100%;
		margin: 20px 0 0 0;
	}
	.user-profile-img {
		float: none;
		margin-bottom: 10px;
	}
	.user-profile .user-profile-img {
		float: left;
	}
	.form-style-2 .fileinputs {
		width: 100%;
	}
	.children {
		padding-left: 30px;
	}
	.commentlist li ul ul ul.children {
		padding-left: 0;
	}
	/* Slider */
	.flex-caption,.nivo-caption,.br-slideinfo {
		display: none !important;
	}
	/* Questions */
	.question-type-normal .question-type-main,.question-type-poll .question-type-main {
		left: 121px;
		right: inherit;
	}
	.question_author_no.question-type-normal .question-type-main,.question_author_no.question-type-poll .question-type-main {
		left: 20px;
	}
	.question-type-normal .question-report {
		left: 213px;
		right: inherit;
	}
	.question-type-poll .question-report {
		left: 187px;
		right: inherit;
	}
	.question_author_no.question-type-normal .question-report {
		left: 112px;
	}
	.question_author_no.question-type-poll .question-report {
		left: 86px;
	}
	.question-type-normal.question h2,.question-type-poll.question h2 {
		padding-right: 0;
		padding-top: 53px;
	}
	.no_reports.question-type-normal.question h2,.no_reports.question-type-poll.question h2 {
		padding-top: 43px;
	}
	.single-question.question-type-normal .question-type-main,.single-question.question-type-poll .question-type-main {
		left: 20px;
		right: inherit;
	}
	.single-question.question-type-normal .question-report {
		left: 112px;
		right: inherit;
	}
	.single-question.question-type-poll .question-report {
		left: 86px;
		right: inherit;
	}
	.poll_1 {
		width: 100%;
	}
	.question-favorite,.question-category,.question-author-meta,.question-comment,.question-category a,.question-author-meta a,.question-comment a {
		margin-bottom: 5px;
	}
	.question-date,.author-message,.message-reply,.message-delete,.question-view,.question-points,.question-vote-all {
		margin-bottom: 10px;
	}
	.user-points h3 {
		float: none;
		padding-right: 0;
		margin-bottom: 10px;
	}
	.user-points .question-user-vote,.user-points .question-vote-result,.user-points .question-date,.user-points .author-message,.user-points .message-reply,.user-points .message-delete {
		margin-bottom: 0;
	}
	.question-tags,.post-tags {
		display: block;
		float: none;
		margin-bottom: 10px;
	}
	/* user-profile */
	.stats-head,.block-stats-visibility,.block-stats-1,.block-stats-2,.block-stats-3,.block-stats-4 {
		padding: 10px 5px;
		font-size: 13px;
		width: 21.2%;
		margin: 0;
	}
	.block-stats-1 {
		width: 36.4%;
	}
	.overlay-lightbox,.overlay-link {
		top: 50%;
		margin-top: -15px;
	}
	.bxslider-title {
		display: none;
	}
	.about-user li {
		float: none;
		width: 100%;
	}
}
/*------------------------------------------------------------------------------*/
/*                    width : 479px 
/*------------------------------------------------------------------------------*/
@media only screen and (max-width: 479px) {
	body {
		width: 100%;
	}
	.grid_970 .container {
		width: auto;
	}
	.page-left-sidebar .sidebar,.page-left-sidebar .row > .with-sidebar-container > .col-md-9,.page-left-sidebar .row > .with-sidebar-container > .col-md-8,.page-right-sidebar .row > .with-sidebar-container > .col-md-9,.page-right-sidebar .row > .with-sidebar-container > .col-md-8 {
		float: none;
	}
	.sidebar {
		position: static !important;
		clear: both;
	}
	.inner {
		width: 260px;
	}
	.boxed,.boxed2,.boxed #header.fixed-nav,.boxed2 #header.fixed-nav {
		width: 100%;
	}
	.boxed2 {
		margin-top: 0;
		margin-bottom: 0;
	}
	.panel-pop {
		width: 90%;
	}
	.notifications-wrapper {
		width: 300px;
	}
	.top-after-header {
		height: auto;
	}
	.top-after-header .col-md-9 form {
		background: transparent;
		height: auto;
		margin-top: 0;
	}
	.top-after-header .col-md-9 p {
		width: 220px;
		width: 100%;
		margin: 20px 0 0;
	}
	.top-after-header .col-md-9 p textarea {
		background-color: #FFF !important;
		border: none;
		color: #2f3239;
		font-size: 13px;
		font-weight: 600;
		font-style: italic;
		resize: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	.top-after-header .col-md-9 .publish-question {
		right: 10px;
	}
	.top-after-header .col-md-3 {
		padding-top: 0;
		text-align: center;
	}
	.top-after-header .flexslider.blog_silder {
		position: static;
		margin-top: -30px;
	}
	.top-after-header .flex-direction-nav li a {
		top: 10%;
		height: 48px;
		padding: 8px 15px;
		font-size: 30px;
		margin-top: 0;
	}
	.widget_menu_jquery {
		display: none;
	}
	iframe {
		height: auto;
	}
	.advertising iframe {
		height: inherit;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 13px;
	}
	h6 {
		font-size: 12px;
	}
	/* Columns */
	.one_half,.one_third,.two_third,.three_fourth,.two_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.two_sixth,.three_sixth,.four_sixth,.five_sixth {
		float: none !important;
		width: auto !important;
		margin-right: 0 !important;
	}
	/* Header */
	.breadcrumbs h1 {
		display: none;
	}
	.crumbs {
		padding-top: 0;
	}
	.mobile-aside,.mobile-aside .post-search .col-md-8,.mobile-aside .post-search .col-md-8 input,.mobile-aside .post-search .col-md-4 {
		width: 100%;
	}
	.mobile-aside .post-search .col-md-8 input {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.admin-bar #header.fixed-nav {
		top: 0 !important;
	}
	#lang_sel_click ul ul,#lang_sel_click li {
		width: 80px !important;
	}
	.login-panel ul.login-links,.login ul.login-links {
		margin:  20px 0 0 0;
	}
	#footer-bottom .social_icons ul li {
		margin-left:10px !important;
	}
	#footer-bottom .social_icons ul li,.social_icon ul li {
		line-height: normal;
	}
	#footer-bottom .social_icons.f_left ul li {
		margin-left:0 !important;
		margin-right:10px !important;
	}
	#footer-bottom {
		height:auto;
	}
	#footer-bottom .social_icons {
		float:inherit !important;
		display:inline-block;
	}
	#footer-bottom .social_icons li:first-child {
		margin-left:0 !important;
	}
	#footer-bottom > .container {
		text-align:center;
	}
	#footer-bottom > .container > div {
		float:inherit !important;
		display:inline-block;
		margin-left:0 !important;
		margin-right:0 !important;
	}
	#footer-bottom > .container > div:first-child {
		margin-bottom: 10px;
	}
	#footer-bottom > .container > .social_icons {
		margin-bottom: 0;
	}
	#footer-bottom > .container > div,#footer-bottom_nav > ul > li > a {
		height: auto;
		line-height: auto;
		text-align: center;
	}
	#footer-bottom_nav > ul li,#footer-bottom_nav > ul li a {
		display: inline-block;
		line-height: normal;
		float: none;
	}
	#footer-bottom_nav > ul > li:last-child,#footer-bottom_nav.f_right > ul > li:last-child {
		margin-right:0;
		margin-left:0;
	}
	/* Navigation */
	.navigation,#header-top {
		display: none;
	}
	.navigation_mobile,.mobile-menu,.mobile-aside {
		display: block;
	}
	/* Sidebar */
	.sidebar {
		margin-top:30px !important;
		width: 100%;
		clear: both;
	}
	/* Footer */
	#footer-bottom > .container > div {
		margin-left:0;
		margin-right:0;
	}
	#footer-bottom_nav.f_right > ul > li,#footer-bottom_nav > ul > li {
		margin-right:15px;
		margin-left:0;
		display:inline-block;
		text-align:center;
	}
	#footer-bottom_nav > ul > li:last-child,#footer-bottom_nav.f_right > ul > li:last-child {
		margin-right:0;
		margin-left:0;
	}
	/* Widgets */
	.widget_flickr a,.widget_portfolio .portfolio-widget-item .portfolio_img,.popular_img {
		width: 78.1px !important;
		height: 78.1px !important;
	}
	.widget_portfolio .portfolio-widget-item .portfolio_img:before,.popular_posts .popular_img a:before,.widget_flickr a:before {
		line-height: 68.4px !important;
	}
	.col-md-3.sidebar .widget_flickr a,.col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img,.col-md-3.sidebar .popular_img {
		width: 78.1px !important;
		height: 78.1px !important;
	}
	.col-md-3.sidebar .widget_portfolio .portfolio-widget-item .portfolio_img:before,.col-md-3.sidebar .popular_posts .popular_img a:before,.col-md-3.sidebar .widget_flickr a:before {
		line-height: 78.1px !important;
	}
	#footer .widget_flickr a,#footer .widget_portfolio .portfolio-widget-item .portfolio_img,.popular_img {
		width: 73px !important;
		height: 73px !important;
	}
	#footer .widget_portfolio .portfolio-widget-item .portfolio_img:before,#footer .popular_posts .popular_img a:before,#footer .widget_flickr a:before {
		line-height: 73px !important;
	}
	.widget:last-child {
		margin-bottom:20px;
	}
	.sidebar .widget:last-child {
		margin-bottom:0;
	}
	.widget_contact ul li .icon_i {
		margin-top: 5px;
	}
	/* Blog */
	.blog_2.post .post-img {
		margin-right:0;
		width:100% !important;
		margin-bottom:30px !important;
		float: none;
	}
	/* Single post */
	.post-next-prev {
		text-align: center;
	}
	.post-next-prev p {
		font-size: 14px;
		float: none !important;
	}
	/* Respond */
	#respond-inputs p,.full_width #respond-inputs p {
		width:100%;
		margin-right:0;
	}
	#respond input#submit {
		width: 100%;
	}
	#respond-inputs p.last {
		margin-bottom:20px;
	}
	/* Comments */
	.commentlist li .avatar {
		float:none;
		margin:0 auto 10px;
	}
	.commentlist li .avatar-img {
		float: none;
	}
	.commentlist li .author {
		margin-bottom:10px;
	}
	.commentlist li .comment-meta {
		float:none;
		margin-bottom:10px;
	}
	.author a.button.mini {
		float:none !important;
		margin:auto !important;
	}
	.post-next-prev .prev-post a,.post-next-prev .next-post a {
		display: block;
		margin-bottom: 5px;
	}
	.comment-reply,.commentlist li .date {
		float: none;
	}
	.commentlist li .date {
		margin-top: 10px;
	}
	.children {
		padding-left: 20px;
	}
	.commentlist li ul ul.children {
		padding-left: 0;
	}
	/* Shortcodes */
	/* Tabs */
	.tab a {
		float:none;
		margin-right:0;
		margin-bottom: 3px !important;
	}
	.tab a.current {
		border-bottom: 1px solid #e5e5e5;
	}
	.tabs {
		border-bottom: 1px solid #e5e5e5;
		border-right: none;
	}
	.tabs-vertical .tabs {
		float:none;
		width:100% !important;
	}
	.tabs-vertical.tabs-style-2 .tabs,.tabs-vertical.tabs-style-3 .tabs {
		left:0;
	}
	.tabs-vertical.tabs-style-2 .tab:last-child a,.tabs-vertical.tabs-style-3 .tab:last-child a {
		border-bottom:none;
	}
	.tabs-vertical.tabs-style-2 .tab a.current,.tabs-vertical.tabs-style-3 .tab a.current {
		border-right-color:#d3d3d3;
	}
	.tabs-vertical .tab-inner-warp,.tabs-style-2.tabs-vertical.tabs-long .tab-inner-warp,.tabs-style-3.tabs-vertical.tabs-long .tab-inner-warp {
		margin-left:0 !important;
	}
	.tabs-vertical .tab-inner {
		padding:20px 0 0;
	}
	.tabs-style-2 .tab a.current {
		border-bottom-color:#d3d3d3;
	}
	.tabs-style-2 .tab a,.tabs-style-3 .tab a {
		margin-right:0;
		margin-bottom:-1px;
	}
	.tabs-style-2 .tab:last-child a,.tabs-style-3 .tab:last-child a {
		margin-bottom:0;
	}
	/* Callout */
	.button_right {
		margin-top: 10px;
		top: inherit !important;
		right: inherit !important;
		position: relative;
	}
	.callout_inner {
		margin-right: 0 !important;
	}
	/* Carousel */
	.images-warp ul li {
		width: 260px;
	}
	.images-warp-grid li.columns,.images-warp-grid li.column {
		margin-bottom: 20px;
	}
	/* Forms */
	.form-inputs p {
		float: none;
		width: 100%;
	}
	.form-inputs p {
		width: 100% !important;
	}
	input.the-title,input.post_tag,input.the-username,input.question_tags,input.the-email,.video_id,textarea.the-textarea,.the-textarea,.taglist .input input,.form-posts .form-description,.question_poll_item,.taglist,.form-style-5.form-style input[type="text"],.form-style-5.form-style input[type="email"],.form-style-5.form-style input[type="password"],.form-style-5.form-style textarea,.styled-select,.fileinputs,.category-wrap {
		width: 100%;
	}
	.form-description,.question_poll_item {
		margin-left: 0;
	}
	.form-style-3 .form-inputs .question-multiple-upload p.add_poll {
		top: -5px;
		left: initial;
		right: 0;
	}
	.question-multiple-upload li:first-child .fileinputs {
		margin-top: 15px;
	}
	.form-posts .form-style label {
		margin-top: 0;
	}
	.user-profile-img {
		float: none;
		margin-bottom: 10px;
	}
	.user-profile .user-profile-img {
		float: none;
	}
	.about-user li {
		margin-left: 0;
	}
	.form-style-2 .fileinputs {
		width: 100%;
	}
	.user-question h3 {
		padding: 38px 0 0 0;
	}
	.user-question .question-type-main {
		left: 20px;
		right: inherit;
	}
	/* Slider */
	.flex-caption,.nivo-caption,.br-slideinfo {
		display: none !important;
	}
	.tp-rightarrow.default,.tp-leftarrow.default,.nivo-directionNav a.nivo-nextNav,.nivo-directionNav a.nivo-prevNav,.br-next,.br-previous {
		height: 24px;
		line-height: 23px;
		font-size: 21px;
		padding: 6px 10px;
	}
	.flex-direction-nav li a {
		height: 24px;
		padding: 6px 10px;
		font-size: 25px;
	}
	/* Questions */
	.question-type-normal .question-type-main,.question-type-poll .question-type-main {
		left: 121px;
		right: inherit;
	}
	.question_author_no.question-type-normal .question-type-main,.question_author_no.question-type-poll .question-type-main {
		left: 20px;
	}
	.question-type-normal .question-report,.question-type-poll .question-report {
		left: 121px;
		right: inherit;
		top: 58px;
	}
	.question_author_no.question-type-normal .question-report,.question_author_no.question-type-poll .question-report {
		left: 20px;
	}
	.question-type-normal.question h2,.question-type-poll.question h2 {
		padding-right: 0;
		padding-top: 86px;
		margin-top: 0;
	}
	.single-question.question-type-normal .question-type-main,.single-question.question-type-poll .question-type-main {
		left: 20px;
		right: inherit;
	}
	.single-question.question-type-normal .question-report {
		left: 112px;
		right: inherit;
	}
	.single-question.question-type-poll .question-report {
		left: 86px;
		right: inherit;
	}
	.single-question.question-type-normal .question-report,.single-question.question-type-poll .question-report {
		top: 20px;
	}
	.question-tab .tab-inner-warp {
		padding-top: 0;
	}
	.question h2 {
		margin-top: 121px;
	}
	.question h2,.question-inner {
		margin-left: 0;
	}
	.question-author {
		top: 20px;
		left: 20px;
	}
	.user-points h3 {
		float: none;
		padding-right: 0;
		margin-bottom: 10px;
	}
	.user-points .question-user-vote,.user-points .question-vote-result,.user-points .question-date,.user-points .author-message,.user-points .message-reply,.user-points .message-delete {
		margin-bottom: 0;
	}
	.poll_1 {
		width: 100%;
	}
	.post-next-prev {
		margin-bottom: 0;
	}
	.question-tags,.post-tags {
		display: block;
		float: none;
		width: 100%;
	}
	.question-reply,.question-date,.author-message,.message-reply,.message-delete,.question-view,.question-comment,.question-category,.question-author-meta,.question-tags,.post-tags,.question-favorite,.question-answered,.question-points,.question-vote-all {
		width: 100%;
		margin-bottom: 10px !important;
	}
	.badge-span {
		margin-left: 0;
	}
	.single-question.question h2 {
		margin: 38px 20px 10px;
		padding: 0;
	}
	.comment-vote,.question-vote,.comment .question-vote-result {
		margin-top: 5px;
	}
	/* user-profile */
	.user-profile-img {
		float: none;
		margin: 0 0 20px;
	}
	.user-profile .user-profile-img {
		margin: 0 0 20px;
	}
	.stats-head,.block-stats-visibility,.block-stats-1,.block-stats-2,.block-stats-3,.block-stats-4 {
		padding: 10px 5px;
		font-size: 13px;
		width: 33.3%;
	}
	.block-stats-1 {
		border-top: 1px solid #E0E6ED;
		border-bottom: 1px solid #E0E6ED !important;
	}
	.block-stats-visibility {
		display: none;
	}
	.block-stats-1 {
		position: relative;
		width: 100%;
	}
	.about-user li {
		float: none;
		width: 100%;
	}
	.user_quick_links li {
		width: 100%;
		margin-right: 0;
	}
	.form_ask_user {
		width: 100%;
		margin: 0 0 10px;
	}
	.form_messag,.user-profile .link_follow,.block_message {
		clear: both;
		float: left;
		margin-top: 10px !important;
	}
	/* error 404 */
	.error_404 h2 {
		font-size: 140px;
	}
	.overlay-lightbox,.overlay-link {
		top: 50%;
		margin-top: -15px;
	}
	.bxslider-title {
		display: none;
	}
}